/*
Theme Name: Alliance Child
Template: alliance
Theme URI: https://alliance.themerex.net/
Description: Alliance is a Premium WordPress theme that has built-in support for popular Page Builders, slider with swipe gestures, and is SEO- and Retina-ready. The unique system of inheritance and override options allows setting up individual parameters for different sections of your site and supported plugins.
Author: ThemeREX
Author URI: https://themerex.net/
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* Theme customization starts here
-------------------------------------------------------------- */

body.menu_side_present .footer_wrap {
    padding-left: 0;
    padding-right: 0;
}

.sc_layouts_menu_item_description {
    display: block;
    margin-top: -2px;
    font-size: 8px;
    line-height: 8px;
    white-space: normal;
    margin-left: 4px;
}
.menu_mobile .menu_mobile_nav_area > ul > .menu-item[class*="icon-"]:before {
    box-shadow: 0px 0px 15px #00000025;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}